AddOutputFilterByType DEFLATE text/html text/plain application/javascript text/css

ExpiresActive On
ExpiresDefault "access plus 4 hours"
ExpiresByType application/javascript A3600
ExpiresByType application/x-javascript A3600
ExpiresByType text/javascript A3600
ExpiresByType text/html A90
ExpiresByType text/html text/plain A30
ExpiresByType text/css A3600
