#menu {
	float: left;
	position: relative;
	padding: 25px;
	width: 300px;
}

#main {
	float: left;
	padding: 20px;
	margin: 10px;
	width: 700px;
}

body {
	float:left;
	min-width: 1110px;
	color: #141414;
	background-color: #FAFAFA;
}

#menu ol {
	padding: 0;
}

#menu li a {
	text-decoration: none;
}

#menu li {
	border-bottom: thin solid rgba(55, 42, 26, 1);
	margin: 20px 0px;
	line-height: 1.05;
	list-style-type: none;
}

@font-face {
	font-family: 'sinanova-regularregular';
	src: url('font/sinanova_regular_macroman/SinaNovaReg-webfont.eot');
	src: url('font/sinanova_regular_macroman/SinaNovaReg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/sinanova_regular_macroman/SinaNovaReg-webfont.woff') format('woff'),
		 url('font/sinanova_regular_macroman/SinaNovaReg-webfont.ttf') format('truetype'),
		 url('font/sinanova_regular_macroman/SinaNovaReg-webfont.svg#sinanova-regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'cantarellregular';
	src: url('font/cantarell_regular_macroman/Cantarell-Regular-webfont.eot');
	src: url('font/cantarell_regular_macroman/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/cantarell_regular_macroman/Cantarell-Regular-webfont.woff') format('woff'),
		 url('font/cantarell_regular_macroman/Cantarell-Regular-webfont.ttf') format('truetype'),
		 url('font/cantarell_regular_macroman/Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,#menu a {
	font-family: "cantarellregular","Lucida Sans Unicode","Lucida Sans","Geneva","Verdana","sans-serif";
}

h1 {
	font-size: 1.6em;
}

div.post-content > h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.1em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: .8em;
}

body {
	font-family: "sinanova-regularregular","Georgia","Cambria","Times New Roman","Times","serif";
	font-size: x-large;
}

img.logo {
	display: block;
	width: 120px;
	margin-left: auto;
	margin-right: auto;
}

div#edit-post-link {
	position: absolute;
	top: 2em;
	right: 0;
	border: 0;
	-webkit-transform: rotate(45deg);
	-o-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}

div#edit-post-link a {
	text-decoration: none;
	color: gray;
}
